

.details_face{
    margin:auto;
    text-align: center;
    padding-top: 20px;
}

#details_face2{
    width:80%;
    margin:auto;
    text-align: center;
    padding-top: 20px;
}

#details_right{
    text-align: left;
}

#details_title{
    font-size: 40px;
}
#details_tagline{
    font-size: 20px;
    color: rgb(188,193,200);
    padding-top: 10px;
    padding-bottom:10px ;
}
#details_dateline{
    font-size: 23px;
    padding-top: 10px;
    padding-bottom:10px ;
}
#details_genreline,#details_langline{
    padding-bottom:5px ;
}
#details_button{
   padding-top: 20px;
   padding-bottom: 20px;
}

#details_description{
    text-align: justify;
    padding-top:20px;
    padding-bottom: 30px;

}
#details_share{
    text-align: left;
    padding-top:20px;
    padding-bottom: 30px;
}

#details_cast{
    text-align: left;

}

.noscrollbar #details_cast_inner::-webkit-scrollbar{ 
    display: none;
}


#details_cast_inner{
    color: black;
    padding-bottom: 10px;
}
.custom-cast-card{
    border-radius: 15px;
    border:none;
    min-width:171px;
    max-width:171px;
    cursor: pointer;
    text-align: center;
}
.custom-card-img{
    border-radius: 15px;
    border:none;
    border-radius: 15px 15px 0 0;
    padding:0;
}

#right-filler{
    border: 0.5px solid rgb(0,0,0,0);
    background-color: rgb(0,0,0,0);
}

#details_review{
    padding: 20px;
    text-align: left;
}

#review1{
    background-color: #fff;
    min-height:240px ;
    color: black;
    border-radius: 10px;
    max-width: 94%;
}

#review_left{
    padding-left:60px;
    padding-top: 40px;

}

#rr_1{
    
    padding-top: 20px;
    padding-bottom: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
}

#rr_credits{
    color: rgb(127, 131, 136);
    padding-top: 10px;
    padding-bottom: 10px;

}

#rr{
    font-size: 15px;;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
}
#rr_link{
    padding-bottom: 30px;
}

.modal-content{
    color: black;
}

#cast_l{
    padding:12px;
}

#cast_r{
    padding:12px;

}


#cast_soc{
    padding-top:12px;

}
#cast_bio{
    padding:12px;

}

.fa-facebook-square{
    color: blue;
    padding: 2px;
}

.fa-twitter{
    color:rgb(34, 139, 255);
    padding: 4px;
}
.fa-instagram{
    color:rgb(128,0,128);
    padding: 4px;
}
.fa-imdb{
    color:rgb(226,182,43);
    padding: 4px;
}

#oval_rating{
    color: white;
    background-color: black;
    border-radius: 50% / 70%;
    display: inline-block;
    font-size: 22px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
}
#star{
    font-size: 24px;

}
#starno{
    font-size: 19px;
    text-decoration: none;

}

.charname{
    font-size: small; 
    padding-left: 10px;
    padding-right: 10px;
}
