#footie{
    width:100%;
    bottom: 0;
    position: absolute;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 2px;
    background-image: linear-gradient(to top, rgba(0,0,0,1) , rgba(0,0,0,0));
}

#main-content{
    
    padding-bottom: 5rem;
      
}

#full-page{
    position: relative;
    min-height: 100vh;
}