<app-now-playing></app-now-playing>

<app-continue-watching-carousel ></app-continue-watching-carousel>

<app-home-page-carousels carousel_title = "Popular Movies" data_recd = "pop_movies" media_type="movie"></app-home-page-carousels>
<app-home-page-carousels carousel_title = "Top Rated Movies" data_recd = "top_movies" media_type="movie"></app-home-page-carousels>
<app-home-page-carousels carousel_title = "Trending Movies" data_recd = "trending_movies" media_type="movie"></app-home-page-carousels>
<app-home-page-carousels carousel_title = "Popular TV Shows" data_recd = "pop_tv" media_type="tv"></app-home-page-carousels>
<app-home-page-carousels carousel_title = "Top Rated TV Shows" data_recd = "top_tv" media_type="tv"></app-home-page-carousels>
<app-home-page-carousels carousel_title = "Trending TV Shows" data_recd = "trending_tv" media_type="tv"></app-home-page-carousels>